.social-links {
  display: flex;
  flex-wrap: wrap;
}

.social-links__item {
  padding: 0 10px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $accent-color;
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
