.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $hero-footer-color;
}

.footer-container {
  display: flex;
}

.logo--margin-change {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__part--white {
  color: $primary-white-color;
}
