.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $hero-footer-color;

  text-align: center;
}

.footer-container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-grow: none;
    justify-content: center;
  }
}

.logo--margin-change {
  display: inline-block;
  margin-bottom: 28px;
}

.logo__part--white {
  color: $primary-white-color;
}
