// header contacts
@media screen and (min-width: 1200px) {
  .header__contacts {
    display: inline-flex;
    align-items: center;
    gap: 40px;
  }
}

.header__contact {
  display: inline-flex;
  align-items: center;
  padding: 5px 0;

  text-decoration: none;
  color: $text-p-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color $action-total-time $action-time;

  @extend %links-hover-focus;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
    padding: 32px 0;
  }
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
  padding: 0;
  @extend %links-hover-focus;

  @media screen and (min-width: 1200px) {
    height: 16px;
  }
}

.header__icon--bigger {
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}
