.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.container--mobile-hidden {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.header__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__items--mobile-hidden {
  display: none;
}
