.clients {
  display: flex;
  margin: 0;
  gap: 30px;
  flex-wrap: wrap;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid $no-accent-color;
  border-radius: 4px;
  padding: 16px 50px;

  color: $no-accent-color;

  transition: color $action-total-time $action-time, border-color $action-total-time $action-time;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }
}

.clients__icon {
  fill: currentColor;
}
