.section__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.section__list {
  display: flex;
  gap: 30px;
}

.section__img {
  position: relative;
}

.section__desc {
  position: absolute;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  padding: 27px 0;
  bottom: 0;

  color: $primary-white-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
