.hero {
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-color: $hero-footer-color;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background-hero.jpg);
  max-width: 1600px;
  height: 600px;
  background-position: center;
}

.hero__title {
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  color: $primary-white-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__btn {
  color: $primary-white-color;
  background-color: $accent-color;

  padding: 10px 24px;

  &:hover,
  &:focus {
    background-color: $primary-btn-accent-color;
  }
}
