.hero {
  padding-top: 118px;
  padding-bottom: 118px;

  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-color: $hero-footer-color;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background-hero.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (min-width) {
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  max-width: 360px;

  color: $primary-white-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    max-width: 696px;

    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  color: $primary-white-color;
  background-color: $accent-color;

  padding: 10px 24px;

  &:hover,
  &:focus {
    background-color: $primary-btn-accent-color;
  }
}
